html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

.App {
  text-align: center;
  height: 100%;
}

.home-heading {
  position: absolute;
  top: 45% !important;
  left: 25% !important;
  color: white;
  font-size: 2.5;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 5px 10px;
  border-radius: 5px;
  transform: translate(-5%, -45%);
}

.home-section {
  position: relative;
  text-align: center;
  height: 100%; 
  width: 100%; 
  overflow: hidden;
}

.home-section p {
  margin-top: -20px;
}

.home-picture {
  max-width: 100% !important;
  height: auto;
}

.home-heading h1 {
  font-family: "PT Serif", serif;
  font-weight: 800;
  font-style: italic;
}

.home-heading p {
  font-family: "Caveat", serif;
  font-weight: 700;
  font-style: normal;
  font-size: xx-large;
}

.about-section {
  display: flex;
  align-items: center;
  background-color: #f8ede3;
  margin-top: -5px;
}

.about-img {
  width: 45%;
  height: 29em;
  align-items: center;
}

.about-paragraphs {
  float: 1;
}

.about-section h1 {
  font-family: "PT Serif", serif;
  font-weight: 600;
  font-style: italic;
  margin-top: 10px;
}

.short-hr {
    width: 20%; 
    margin: auto; 
    border: 1px solid #000; 
}

.long-hr {
  width: 30%;
  margin: auto;
  border: 1px solid #000;
}

.menu-section {
  background-color: #c39898;
  border-radius: 9px;
  text-align: center;
  margin-top: -22px;
}

.menu-section h1 {
  background-color: #c39898;
  margin-top: 22px;
  padding-top: 8px;
}

.donuts h3 {
  margin-top: -13px;
}

.macaroons h3 {
  margin-top: 3px;
}

.croissants h3 {
  margin-top: 3px;
}

.bagel h3 {
  margin-top: 3px;
}

.danish h3 {
  margin-top: 3px;
}

.cakes {
  margin-top: 3px;
}

.drink-menu {
  margin-top: -3px;
  padding-bottom: 3px;
}

.menu-h1 {
  font-family: "Shrikhand", system-ui;
  font-weight: 400;
  font-style: normal;
}

.menu-h2,
.cakes,
.drink-h2 {
  font-family: "PT Serif", system-ui;
  font-weight: 900;
  font-style: italic;
}

.menu-h2 {
  margin-top: -17px;
}

.menu-section p {
  margin-top: -15px;
}

.menu-h3 {
  font-family: "Poppins", system-ui;
  font-weight: 700;
  font-style: normal;
}

.carousel-slide img {
   display: block;
   margin: 0 auto;
   height: 250px;
   width: 50% !important;
   padding-bottom: 25px;
   border-radius: 8px;
}

@media (max-width: 768px) {
  .home-heading {
    top: 50%; 
    left: 50%; 
    font-size: 1em; 
    padding: 3px 5px;
  }
}


@media (max-width: 480px) {
  .home-heading {
    font-size: 1em; 
    padding: 2px 4px; 
  }
}